<h3>模块</h3>

<div class="pageblock">
  <div>
    <a href="#" id="create_module_btn" class="btn btn-inverse"><span class="fui-plus"></span> 新建模块</a>
    <a href="#" id="browser_module_btn" class="btn btn-inverse"><span class="glyphicon glyphicon-download-alt"></span> 从模块库中下载</a>
    <a href="#" id="setup_module_btn" class="btn btn-inverse"><span class="fui-gear"></span> 模块库设置</a>
  </div>
  <h5>模块列表(js/modules) </h5>
  
  <div id="modulelist"></div>
</div>

<script id="modulelist_template" type="text/x-handlebars-template">
  <div class="module_list row">
    \{{#each this}}
    <div class="col-md-4">
    <div class="panel panel-primary" data-modulename="\{{this.filename}}">
      <div class="panel-heading">
        <div class="panel-title">\{{this.filename}}</div>
        <div class="panel-rifun"><span class="funicon fui-upload upload_module_btn" data-path="\{{this.path}}" data-toggle="tooltip" data-placement="top" data-original-title="发布模块"></span> <span class="funicon fui-new edit_module_json" data-modulename="\{{this.filename}}" data-toggle="tooltip" data-placement="top" data-original-title="编辑模块信息(package.json)"></span></div>
      </div>
      <div class="panel-body" title="\{{this.json.description}}">
        \{{this.json.description}}&nbsp;
      </div>
    </div>
    </div>
    \{{/each}}
  </div>
</script>


<script id="create_module_template" type="text/x-handlebars-template">
  <div class="form-group">
    <label class="control-label" for="module_name">模块名称 <span class="required">*</span> <span class="glyphicon glyphicon-info-sign"  data-toggle="tooltip" data-placement="right" data-original-title="只能使用小写英文,数字,下划线,减号做模块名称"></span></label>
    <input class="form-control" id="module_name" type="text" pattern="[a-z0-9_-]+" required>
  </div>
  <div class="form-group">
    <label class="control-label" for="module_description">模块描述</label>
    <input class="form-control" id="module_description" type="text">
  </div>
  <div class="form-group">
    <label class="control-label" for="module_template">初始化代码</label>
    <select class="form-control" id="module_template">
      <option value="none">无</option>
      <option value="function">Function</option>
      <option value="object">Object</option>
      <option value="lclass">Function prototype</option>
    </select>
  </div>
  <div class="form-group">
    <label class="control-label"><input id="create_md" class="midcheck" type="checkbox"> 新建 README.md 文件</label>
  </div>
</script>

<script id="edit_module_template" type="text/x-handlebars-template">
  <h6>\{{module_name}}</h6>
  <div class="form-group">
    <label class="control-label" for="module_description">模块描述(description)</label>
    <input class="form-control" id="module_description" type="text" value="\{{config.description}}">
  </div>
  <div class="form-group">
    <label class="control-label" for="module_version">版本号(version)，必须使用语义化三段整数式版本号，例如：1.3.14</label>
    <input class="form-control" id="module_version" type="text" value="\{{config.version}}">
  </div>
  <div class="form-group">
    <label class="control-label" for="module_main">主JS文件(main)</label>
    <input class="form-control" id="module_main" type="text" value="\{{config.main}}">
  </div>
  <div class="form-group">
    <label class="control-label" for="module_keywords">关键字(keywords)，多个关键字用英文逗号分隔</label>
    <input class="form-control" id="module_keywords" type="text" value="\{{config.keywords}}">
  </div>  
</script>

<script id="setup_module_template" type="text/x-handlebars-template">
  <div>注意：以下设置为用户设置，不是项目设置，设置之后将在此电脑用户的所有项目中生效</div>
  <div class="form-group">
    <label class="control-label" for="module_server_url">模块库服务器地址</label>
    <input class="form-control" id="module_server_url" type="url" value="\{{module_server_url}}">
  </div>
  <div class="form-group">
    <label class="control-label" for="module_author">授权字符串</label>
    <input class="form-control" id="module_author" type="text" value="\{{module_author}}">
  </div>
</script>

<script id="browser_module_template" type="text/x-handlebars-template">
  <div class="browser_module">
    <div class="module_search">
      <div class="input-group">
        <input type="text" class="form-control" id="search_key" placeholder="输入模块名搜索">
        <span class="input-group-btn">
          <a id="clean_search" class="btn btn-warning" href="/modules/"><span class="glyphicon glyphicon-remove" title="清空搜索"></span></a>
        </span>
      </div>
    </div>
    <div class="module_list row" id="module_list"></div>
    <div class="cpager" id="module_list_pager"></div>
  </div>
</script>

<script id="browser_module_list_template" type="text/x-handlebars-template">
  \{{#each modules}}
  <div class="col-md-6">
    <div class="panel panel-primary" data-name="\{{name}}">
      <div class="panel-heading">
        <h3 class="panel-title">\{{name}}</h3>
        <div class="panel-rifun">\{{username}}@\{{version}}</div>
      </div>
      <div class="panel-body" title="\{{intro}}">
        \{{intro}}&nbsp;
      </div>
    </div>
  </div>
  \{{/each}}
</script>

<script id="browser_modulelist_template" type="text/x-handlebars-template">
  <div>
  \{{#each modules}}
    <div class="col-md-6">
      <div class="panel panel-primary" data-name="\{{name}}">
        <div class="panel-heading">
          <h3 class="panel-title">\{{name}}</h3>
          <div class="panel-rifun">\{{username}}@\{{version}}</div>
        </div>
        <div class="panel-body" title="\{{intro}}">
          \{{intro}}&nbsp;
        </div>
      </div>      
    </div>
    \{{/each}}
  </div>
</script>

<script id="local_module_info_template" type="text/x-handlebars-template">
  <div>
    <dl class="infodl">
      <div id="module_info2">
        <dt>版本</dt>
        <dd>\{{config.version}}</dd>        
        <dt>作者</dt>
        <dd>\{{config.author}}</dd>
        <dt>简介</dt>
        <dd>\{{config.description}}</dd> 
        <dt>关键字</dt>
        <dd>\{{config.keywords}}&nbsp;</dd>
        <dt>文件列表</dt>
        <dd>
          \{{#each files}}
            <li><a href="/codeview?path=js/modules/\{{../module_name}}/\{{this}}" target="_blank">\{{this}}</a></li>
          \{{/each}}
        </dd> 
      </div> 
    </dl>
  </div>
</script>

<script id="module_info_template" type="text/x-handlebars-template">
  <div>
    <dl class="infodl">
      <dt>版本</dt>
      <dd>
        <select name="" id="version_select" class="form-control" style="width:120px;">
          \{{#each versions}}
            <option value="\{{this}}">\{{this}}</option>
          \{{/each}}
          
        </select>
      </dd>
      <div id="module_info2">
        <dt>上传人</dt>
        <dd>\{{baseinfo.username}}</dd>
        <dt>简介</dt>
        <dd>\{{packageinfo.description}}</dd> 
        <dt>关键字</dt>
        <dd>\{{packageinfo.keywords}}&nbsp;</dd>
        <dt>文件列表</dt>
        <dd>
          \{{#each files}}
            <li><a href="\{{../module_server_url}}/file/\{{../module_name}}/\{{../packageinfo.version}}/\{{this}}" target="_blank">\{{this}}</a></li>
          \{{/each}}
        </dd> 
      </div> 
    </dl>
  </div>
</script>

<script id="module_info2_template" type="text/x-handlebars-template">
<div>
<dt>上传人</dt>
<dd>\{{baseinfo.username}}</dd>
<dt>简介</dt>
<dd>\{{packageinfo.description}}</dd> 
<dt>关键字</dt>
<dd>\{{packageinfo.keywords}}&nbsp;</dd>
<dt>文件列表</dt>
<dd>
  \{{#each files}}
    <li><a href="\{{../module_server_url}}/file/\{{../module_name}}/\{{../packageinfo.version}}/\{{this}}" target="_blank">\{{this}}</a></li>
  \{{/each}}
</dd> 
</div>
</script>

{{#extend "bodybottom"}}
<script src="/js/page_module.js"></script>
{{/extend}}