<h3>模块</h3>

<div class="pageblock">
  <div>
    <a href="#" id="create_module_btn" class="btn btn-inverse"><span class="fui-plus"></span> 新建模块</a>
    <a href="#" id="browser_module_btn" class="btn btn-inverse"><span class="glyphicon glyphicon-download-alt"></span> 从模块库中下载</a>
    <a href="#" id="setup_module_btn" class="btn btn-inverse"><span class="fui-gear"></span> 模块库设置</a>
  </div>
  <h5>模块列表(js/modules) </h5>
  
  <div id="modulelist"></div>
</div>

<script id="modulelist_template" type="text/x-handlebars-template">
  <div class="module_list row">
    \{{#each this}}
    <div class="col-md-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">\{{this.filename}}</div>
        <div class="panel-rifun"><span class="funicon fui-upload upload_module_btn" data-path="\{{this.path}}" data-toggle="tooltip" data-placement="top" data-original-title="发布模块"></span> <span class="funicon fui-new edit_module_json" data-modulename="\{{this.filename}}" data-toggle="tooltip" data-placement="top" data-original-title="编辑模块信息(package.json)"></span></div>
      </div>
      <div class="panel-body">
        \{{this.json.description}}&nbsp;
      </div>
    </div>
    </div>
    \{{/each}}
  </div>
</script>


<script id="create_module_template" type="text/x-handlebars-template">
  <div class="form-group">
    <label class="control-label" for="module_name">模块名称 <span class="required">*</span> <span class="glyphicon glyphicon-info-sign"  data-toggle="tooltip" data-placement="right" data-original-title="只能使用小写英文,数字,下划线,减号做模块名称"></span></label>
    <input class="form-control" id="module_name" type="text" pattern="[a-z0-9_-]+" required>
  </div>
  <div class="form-group">
    <label class="control-label" for="module_description">模块描述</label>
    <input class="form-control" id="module_description" type="text">
  </div>
  <div class="form-group">
    <label class="control-label" for="module_template">初始化代码</label>
    <select class="form-control" id="module_template">
      <option value="none">无</option>
      <option value="function">Function</option>
      <option value="object">Object</option>
      <option value="lclass">类Class(function prototype)</option>
    </select>
  </div>
  <div class="form-group">
    <label class="control-label"><input id="create_md" class="midcheck" type="checkbox"> 新建 README.md 文件</label>
  </div>
</script>

<script id="edit_module_template" type="text/x-handlebars-template">
  <h6>\{{module_name}}</h6>
  <div class="form-group">
    <label class="control-label" for="module_description">模块描述(description)</label>
    <input class="form-control" id="module_description" type="text" value="\{{description}}">
  </div>
  <div class="form-group">
    <label class="control-label" for="module_version">版本号(version)，必须使用语义化三段整数式版本号，例如：1.3.14</label>
    <input class="form-control" id="module_version" type="text" value="\{{version}}">
  </div>
  <div class="form-group">
    <label class="control-label" for="module_main">主JS文件(main)</label>
    <input class="form-control" id="module_main" type="text" value="\{{main}}">
  </div>
  <div class="form-group">
    <label class="control-label" for="module_keywords">关键字(keywords)，多个关键字用英文逗号分隔</label>
    <input class="form-control" id="module_keywords" type="text" value="\{{keywords}}">
  </div>  
</script>

<script id="setup_module_template" type="text/x-handlebars-template">
  <h6>\{{module_name}}</h6>
  <div class="form-group">
    <label class="control-label" for="module_server_url">模块库服务器地址</label>
    <input class="form-control" id="module_server_url" type="url" value="\{{module_server_url}}">
  </div>
  <div class="form-group">
    <label class="control-label" for="module_author">授权字符串</label>
    <input class="form-control" id="module_author" type="text" value="\{{module_author}}">
  </div>
</script>


{{#extend "bodybottom"}}
<script src="/js/page_module.js"></script>
{{/extend}}